<mat-checkbox [(ngModel)]="afficherDisponibles">
    Afficher seulement les livres disponibles
</mat-checkbox>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Ma Bibliothèque</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="ouvrirForm()">Ajouter livre</button>
    </mat-toolbar-row>
  </mat-toolbar>
  
<div>
    <ng-container *ngFor="let book of books">
        <app-book-item
          *ngIf="!afficherDisponibles || book.disponible"
          [book]="book"
          (deleteBook)="supprimerLivre($event)"
          >
        </app-book-item>
    </ng-container>      
</div>
